<% /* Default layout for email templates */ %>
<div style="background-color: #FAFAFA; width: 100%; font-family: 'Lato', 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif; box-sizing: border-box; padding-bottom: 25px; margin: 0;">
  <div style="background: transparent; padding-top: 25px; padding-bottom: 15px; text-align: center;">
    <img style="display: inline-block; height: 50px; width: auto; margin-left: auto; margin-right: auto;" alt="CLAS Logo" src="https://s3.amazonaws.com/clastrak-email-assets/logo.png"/>
  </div>
  <div style="background-color: #fff; color: #414141; font-size: 1em; border-top: 2px solid #0061AF; border-bottom: 1px solid #E6E6E6; box-sizing: border-box; padding: 25px; width: 100%; max-width: 600px; margin-left: auto; margin-right: auto; margin-bottom: 35px;">

    <%- body %>

  </div>
</div>
